# Título
## Título
### Título

Corpo do texto. *texto em itálico* **texto em negrito**

- primeiro item
- segundo item

1. primeiro item
2. segundo item

Abaixo será feito a operação `2 + 2`:

In [2]:
2 + 2

4

https://www.google.com

[Google](https://www.google.com)

## Usando como uma calculadora interativa

### Principais operações

In [3]:
#Soma
2 + 3

5

In [4]:
#Subtração
2 - 3

-1

In [5]:
#Multiplicação
2 * 3

6

In [6]:
#Potênciação
2**3

8

In [7]:
#Divisão (resultado será float, mesmo ele sendo int)
a = 2 / 2
print(a)
type(a)

1.0

float

In [8]:
# Pegando somente o númeo inteiro (ele será int)
b = 5//2
print(b)
type(b)

2

int

### Ordem das operações

In [9]:
2 + 2 * 3

8

In [10]:
(2 + 2) * 3

12

### Representando potências de 10

In [11]:
1.5 * 10**2

150.0

In [12]:
1.5 * 10**10

15000000000.0

In [13]:
1.5 * 10**20

1.5e+20

In [14]:
1.5e20

1.5e+20

In [15]:
1.5e-20

1.5e-20

### Facilitando a leitura de números grandes

In [16]:
1000

1000

In [17]:
1_000

1000

In [18]:
1_000_000

1000000

### Cuidados com float

In [19]:
2.0 + 2

4.0

In [20]:
0.1 + 0.7

0.7999999999999999

Uma possível soução é trabalhar com inteiros e apenas no final cconverter para float

In [21]:
200*(0.1 + 0.7)

160.0

### Trabalhando com textos - strings

In [22]:
'Isto é um texto'

'Isto é um texto'

In [23]:
"Isto é um texto"

'Isto é um texto'

In [24]:
print("Isto é um texto")

Isto é um texto

In [25]:
"""
Olá
isto é um
texto
"""

'\nOlá\nisto é um\ntexto\n'

In [26]:
print("Olá, \n estou pulando linha")

Olá,
 estou pulando linha

In [27]:
print("""
Olá,
estou pulando linha
""")

Olá,
estou pulando linha

In [28]:
print("Olá, \\n estou pulando linha")

Olá, \n estou pulando linha

In [29]:
print("Olá, \t estou usando tabulação")

Olá, 	 estou usando tabulação

### Variáveis

In [30]:
salario_base = 1500

In [31]:
salario_base

1500

In [32]:
porcentagem_comissao = 0.05
valor_vendas = 500

In [33]:
salario_vendas = (porcentagem_comissao * valor_vendas)

In [34]:
salario_total = salario_base + salario_vendas

In [35]:
print(salario_vendas)
print(salario_total)

25.0
1525.0

In [36]:
salario_base = salario_base + 200

In [37]:
salario_base

1700

In [38]:
salario_final = salario_base + salario_vendas
salario_final

1725.0

In [39]:
salario_base += 200
salario_base

1900

In [40]:
porcentagem_comissao -= 0.01
porcentagem_comissao

0.04

In [41]:
salario_vendas = porcentagem_comissao * valor_vendas
salario_vendas

20.0

In [42]:
salario_final = salario_base + salario_vendas
salario_final

1920.0

In [1]:
exemplo = 15

In [2]:
exemplo *=2
exemplo

30

In [3]:
exemplo /= 2
exemplo

15.0

Comparação

In [1]:
salario_base = 1500
salario_minimo = 1412

In [2]:
salario_base > salario_minimo

True

In [3]:
salario_base < salario_minimo

False

In [4]:
salario_base == salario_minimo

False

In [5]:
salario_base != salario_minimo

True

In [6]:
salario_minimo < 1450 < salario_base

True

### Operador AND

In [7]:
(salario_minimo < 1450) and (1450 < salario_base)

True

In [9]:
(salario_minimo < 1450) and (1450 > salario_base)

True

### Operador OR

In [10]:
(salario_minimo < 1450) or (1450 < salario_base)

True

In [11]:
(salario_minimo < 1450) or (1450 > salario_base)

True

### Tipo de variáveis

In [4]:
salario_base = 1500
comissao = 0.05
salario_minimo = 1412
vendas = 500

In [2]:
type(salario_base)

int

In [5]:
type(comissao)

float

In [7]:
salario_final = salario_base + (vendas * comissao)
salario_final

1525.0

In [8]:
type(salario_final)

float

In [11]:
comparacao_com_minimo = salario_final > salario_minimo
comparacao_com_minimo

True

In [12]:
type(comparacao_com_minimo)

bool

### Funções built-in

In [13]:
type(print)

builtin_function_or_method

In [14]:
print("Texto")

Texto

In [15]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [16]:
print("Salário base", salario_base, "Comissão", comissao)

Salário base 1500 Comissão 0.05

In [17]:
print("Salário base", salario_base, "Comissão", comissao, sep="\t")

Salário base	1500	Comissão	0.05

In [1]:
help(abs)

Help on built-in function abs in module builtins:

abs(x, /)
    Return the absolute value of the argument.

In [2]:
abs(-10)

10

In [5]:
round(1.6355, 2)

1.64

In [6]:
pow(2, 3)

8

In [8]:
int(1.9)

1

In [ ]:
nome = input("Digite o seu nome: ")
nome

## Exercício

In [2]:
e_venda = 1500.0
e_porcentagem_comissao = 0.05

e_comissao = e_venda * e_porcentagem_comissao
e_comissao

75.0

In [4]:
e_salario_base = 1450.0

e_valor_bruto = e_salario_base + e_comissao
e_valor_bruto

1525.0

In [5]:
print("O valor final bruto que o vendedor irá receber é R$", e_valor_bruto)

O valor final bruto que o vendedor irá receber é R$ 1525.0

In [6]:
e_aliquota_imposto = 0.15
e_imposto = e_valor_bruto * e_aliquota_imposto

print("O valor a ser pago de impoto é R$", e_imposto)

O valor a ser pago de impoto é R$ 228.75

In [7]:
e_valor_liquido = e_valor_bruto - e_imposto

print("O valor líquido que o vendedor irá receber é R$",e_valor_liquido)

O valor líquido que o vendedor irá receber é R$ 1296.25

In [9]:
e_salario_minimo = 1412.0

e_valor_liquido < e_salario_minimo

True

In [10]:
e_tempo_empresa = 3
e_tempo_auxilio = 2

(e_tempo_empresa > e_tempo_auxilio) and (e_valor_liquido< e_salario_minimo)

True

## Tipos sequenciais

### Listas
São coleções ordenadas e mutáveis que podem conter elementos de diferentes tipos. As listas são definidas com colchetes [ ]

In [22]:
minha_lista = ["a","b","c","d"]
minha_lista

['a', 'b', 'c', 'd']

In [7]:
minha_lista[0]

'a'

In [12]:
minha_lista[-1]

'd'

In [10]:
minha_lista[2] = "e"
minha_lista

['a', 'b', 'e', 'd']

In [11]:
"e" in minha_lista

True

In [3]:
len(minha_lista)

4

In [4]:
nova_lista = [90, 120, 2.0, 3.14, 0.5]
nova_lista

[90, 120, 2.0, 3.14, 0.5]

In [8]:
min(nova_lista)

0.5

In [7]:
max(nova_lista)

120

In [9]:
len(nova_lista)

5

In [10]:
lista_letras = ["a","b","c","d","e","f"]
lista_letras

['a', 'b', 'c', 'd', 'e', 'f']

In [12]:
# antes dos dois pontos é onde começa, no caso indice 0
lista_letras[0:]

['a', 'b', 'c', 'd', 'e', 'f']

In [13]:
# aqui começa no índice 1
lista_letras[1:]

['b', 'c', 'd', 'e', 'f']

In [17]:
# depois dos dois pontos é onde termina, no caso índice 2 porém ela não é incluída
lista_letras[:2]

['a', 'b']

In [18]:
lista_letras[1:3]

['b', 'c']

In [1]:
lista_longa = [0,1,2,3,4,5,6,7,8,9,10]
lista_longa

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
len(lista_longa)

11

In [6]:
lista_longa[0:20]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
lista_longa[0:11:2]

[0, 2, 4, 6, 8, 10]

In [11]:
lista_longa[::2]

[0, 2, 4, 6, 8, 10]

In [14]:
lista_longa[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [15]:
lista_longa += [11]
lista_longa

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [16]:
lista_longa += [12,13,14]
lista_longa

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [19]:
lista_longa.append(15)

In [20]:
lista_longa

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 18, 15]

In [24]:
# retira o último valor da lista
lista_longa.pop()

14

In [25]:
lista_longa

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [26]:
lista_longa.extend([16,17,18])

In [27]:
lista_longa

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 16, 17, 18]

### Tuplas
São coleções ordenadas e imutáveis. Tuplas são definidas com parênteses ()

In [1]:
minha_tupla = (0,1,"dois",3.0)
minha_tupla

(0, 1, 'dois', 3.0)

In [2]:
minha_tupla[2]

'dois'

In [3]:
minha_tupla[-1]

3.0

In [4]:
2 in minha_tupla

False

In [5]:
"dois" in minha_tupla

True

In [6]:
len(minha_tupla)

4

In [10]:
minha_tupla[0:]

(0, 1, 'dois', 3.0)

In [8]:
minha_tupla[:1]

(0,)

In [11]:
minha_tupla[::2]

(0, 'dois')

In [12]:
minha_tupla[::-1]

(3.0, 'dois', 1, 0)

In [13]:
minha_tupla += (4,5,6,7)

In [14]:
minha_tupla

(0, 1, 'dois', 3.0, 4, 5, 6, 7)

### Transformando tuplas em listas e vice-versa

In [15]:
list(minha_tupla)

[0, 1, 'dois', 3.0, 4, 5, 6, 7]

In [16]:
minha_tupla

(0, 1, 'dois', 3.0, 4, 5, 6, 7)

In [17]:
minha_tupla_2 = list(minha_tupla)

In [18]:
minha_tupla_2

[0, 1, 'dois', 3.0, 4, 5, 6, 7]

In [23]:
tuple(minha_lista)

('a', 'b', 'c', 'd')

In [24]:
minha_lista

['a', 'b', 'c', 'd']

### Listas x Tuplas

In [1]:
coordenadas = (1,3,5)
coordenadas

(1, 3, 5)

In [2]:
coordenadas[0]

1

In [3]:
coordenadas[1]

3

In [4]:
coordenadas[2]

5

In [5]:
#unpacking
x, y, z = coordenadas
print(coordenadas)

(1, 3, 5)

### String
Imutável

In [7]:
minha_string = "Olá, mundo!"
minha_string

'Olá, mundo!'

In [9]:
minha_string[0]

'O'

In [10]:
minha_string[-1]

'!'

In [11]:
len(minha_string)

11

In [15]:
minha_string[:3]

'Olá'

In [12]:
minha_string[::2]

'Oá ud!'

In [16]:
minha_string[::-1]

'!odnum ,álO'