Meu primeiro programa

In [1]:
print("Hello, world!")

Hello, world!

In [2]:
qtd_vendas = 1500

In [3]:
qtd_total = qtd_vendas * 8
nome = "Lira"
print(nome,qtd_total,qtd_vendas)

Lira 12000 1500

# ---------------------------------------------------------------------------------------------------------------

# Tipos de Variáveis em Python

Uma variável é um objeto, afinal tudo é um objeto em Python

int -> inteiro <br>
string -> texto <br>
float -> números com casas decimais (ponto flutuante) <br>
bool ou boolean -> True ou False<br>

Obs1: Variável em Python não são declaradas explicitamente, mas isso não significa que você deve ficar mudando o tempo todo<br>
Obs2: Cuidado com os nomes restritos

In [4]:
faturamento = 1000
type(faturamento)

int

In [5]:
faturamento = 1000.00
type(faturamento)

float

In [6]:
faturamento = '1.000'
type(faturamento)

str

In [7]:
ganha_bonus = True
type(ganha_bonus)

bool

# ---------------------------------------------------------------------------------------------------------------

# Condições no Python -> If

## Estrutura:

### Uso mais simples:

### Exemplo Real (informações 100% hipotéticas e inventadas):

Digamos que você trabalha na Amazon (que tem centenas de milhares, se não milhões de produtos) e está analisando o resultado de vendas dos produtos.

Você precisa criar um programa que vai analisar o resultado de vendas dos produtos da Amazon em um mês. Para simplificar vamos pensar em um único produto: um Iphone.

Meta de Vendas do Iphone = 50.000 unidades <br>
Quantidade vendida no Mês = 65.300 unidades

O seu programa deve avisar (usaremos o print por enquanto) caso o produto tenha batido a meta do mês. Então devemos fazer:

* Caso o produto tenha batido a meta, devemos exibir a mensagem: "Batemos a meta de vendas de Iphone, vendemos {} unidades"
* Se ele não bateu a meta do mês, o seu programa não deve fazer nada

In [8]:
meta = 50000
qtd_vendida = 65300
 
if qtd_vendida > meta:
    print("Bateu a meta, com {} quantidades vendidas".format(qtd_vendida))
else:
    print("Não bateu a meta, vendendo somente {} unidades".format(qtd_vendida))
print("Fim do programa")

Bateu a meta, com 65300 quantidades vendidas
Fim do programa

### Tratando a condição falsa:

Quando usamos o if, nem sempre queremos apenas analisar o caso verdadeiro, em boa parte das vezes queremos fazer alguma coisa caso a condição seja verdadeira e fazer outra coisa caso a condição seja falsa.

Nesse caso usaremos:

O tipo de célula não é suportado. Clique duas vezes para inspecionar/editar o conteúdo.
Voltando ao nosso Exemplo Real da Amazon e do Iphone, agora nossa programa deve avisar nos 2 casos:

* Caso o produto tenha batido a meta, devemos exibir a mensagem: "Batemos a meta de vendas de Iphone, vendemos {} unidades"
* Se ele não bateu a meta do mês, devemos exibir a mensagem: "Infelizmente não batemos a meta, vendemos {} unidades. A meta era de {} unidades"

In [9]:
meta = 50000
qtd_vendida = 600
 
if qtd_vendida > meta:
    print("Bateu a meta, com {} quantidades vendidas".format(qtd_vendida))
else:
    print("Não bateu a meta, vendendo somente {} unidades".format(qtd_vendida))
print("Fim do programa")

Não bateu a meta, vendendo somente 600 unidades
Fim do programa

## elif

if condição:<br>
    o que fazer se a condição 1 for verdadeira<br>
elif condição_2:<br>
    o que fazer se a condição 1 for falsa e a condição 2 for verdadeira<br>
else:<br>
    o que fazer se a condição 1 e a condição 2 forem falsas<br>

In [10]:
meta = 20000
vendas = 19000

if vendas < meta:
    print("Não ganhou bônus")
elif vendas > (meta * 2):
    bonus = 0.07 * vendas
    print("Ganhou {} de bônus".format(bonus))
else:
    bonus =  0.03 * vendas
    print("Ganhou {} de bônus".format(bonus))

Não ganhou bônus

# ---------------------------------------------------------------------------------------------------------------

# Comparadores

* "=="    igual<br>
* "!="    diferente<br>
* ">"     maior que (>= maior ou igual)<br>
* "<"     menor que (<= menor ou igual)<br>
* "in"    texto existe dentro de outro texto <br>
* "not"   verifica o contrário da comparação<br>

Obs: Se em alguma condição você não quiser fazer nada, você pode simplesmente escrever:<br>
pass

In [11]:
faturamento_loja_1 = 2500
faturamento_loja_2 = 2200
email = "liragmail.com"

print("Programa 1")
if faturamento_loja_1 == faturamento_loja_2:
    print("Os faturamentos são iguais")
else:
    print("Os faturamentos são diferentes")

Programa 1
Os faturamentos são diferentes

In [12]:
print("Programa 2")
if email == "lira@gmail.com":
    print("Esse é o e-mail do Lira")
else:
    print("E-mail errado")

Programa 2
E-mail errado

In [13]:
print("Programa 3")
email_usuario = input("Insira seu e-mail: ")
if not "@" in email_usuario:
    print("E-mail inválido")
else:
    pass

Programa 3
Insira seu e-mail: zxZX
E-mail inválido

# ---------------------------------------------------------------------------------------------------------------

# And e OR

In [21]:
meta_funcionario = 10000
meta_loja = 250000
vendas_funcionario = 2000
vendas_loja = 2500000

if vendas_funcionario > meta_funcionario and vendas_loja > meta_loja:
    bonus = 0.03 * vendas_funcionario
    print("O bônus do funcionário foi de {}".format(bonus))
else:
    print("Funcionário não ganhou bônus")

Funcionário não ganhou bônus

In [22]:
nota_funcionario = 9
meta_nota = 9

if nota_funcionario >= meta_nota or (vendas_funcionario > meta_funcionario and vendas_loja > meta_loja):
    bonus = 0.03 * vendas_funcionario
    print("O bônus do funcionário foi de {}".format(bonus))
else:
    print("Funcionário não ganhou bônus")

O bônus do funcionário foi de 60.0

# ---------------------------------------------------------------------------------------------------------------

# Índice e Tamanho de String

O índice começa no 0

O índice negativo termina em -1, bom para pegar de trás para frente

Para saber o tamanho de um texto usar len<br>
Para pegar o pedaço de um texto usar : (dois pontos)

In [41]:
email = "lira@gmail.com"
nome = "João Lira"

print(len(email))
print(len(nome))

print(email[13])
print(nome[0])

print(email[-1])
print(nome[-9])

print(email[:-1])
print(email[:5])

print(email[4:])
print(email[-4:])

print(email[4:5])

14
9
m
J
m
J
lira@gmail.co
lira@
@gmail.com
.com
@

In [51]:
print("Tamanho do e-mail " + str(len(email)) + " caracteres")
print("Primeiro caractere " + email[-1*len(email)])
print("Primeiro caractere " + email[0])
print("Último caractere " + email[-1])
print("Servidor do email " + email[5:-4])

Tamanho do e-mail 14 caracteres
Primeiro caractere l
Primeiro caractere l
Último caractere m
Servidor do email gmail

# ---------------------------------------------------------------------------------------------------------------

# "Fórmulas" de Texto - Métodos de String

# Estrutura:
- Normalmente usamos a estrutura texto.metodo() para fazer as mdificações que queremos
- Alguns métodos pedem "argumentos", que são iformações que temos que passar para a fórmula (método) para ela funcionar. Esses argumentos são passados dentro do parênteses

# Como usar:

Não decore os métodos, os que você for mais usando com o tempo você vai decorar o que precisar.

Mas a dica é: use essa lista para consultar e busque entender como o métodos funcionam e suas aplicações, para poder consultar e usar quando precisar.

- capitalize() -> Coloca a 1º letra Maiúscula

Uso:
    texto = 'lira'
    print(texto.capitalize())
Resultado:
    'Lira'

- casefold() -> Transforma todas as letras em minúsculas (existe lower() mas o casefold é melhor normalmente)

Uso:
    texto = 'Lira'
    print(texto.casefold())
Resultado:
    'lira'

- count() -> Quantidade de vezes que um valor aparece na string

Uso:
    texto = 'lira@yahoo.com.br'
    print(texto.count('.'))
Resultado:
    2

- endswith() -> Verifica se o texto temina com um valor específico e dá como resposta True ou False

Uso:
    texto = 'lira@gmail.com'
    print(texto.endswith('gmail.com'))
Resultado:
    True

- find() -> Procura um texto dentro de outro texto e dá como resposta a posição do texto encontrado

Uso:
    texto = 'lira@gmail.com'
    print(texto.find('@'))
Resultado:
    4

- format() -> Formata uma string de acordo com os valores passados. Já usamos bastante ao longo do programa.

Uso:
    faturamento = 1000
    print('O faturamento da loja foi de {} reais'.format(faturamento))
Resultado:
    'O faturamento da loja foi de 1000 reais'

- isalnum() -> Verifica se um texto é todo feito com caracteres alfanuméricos (letras e números) -> letras com acento ou ç são considerados letras para essa função.

- isalpha() -> Verifica se um texto é todo feito de letras.

- isnumeric() -> Verifica se um texto é todo feito por números.

Uso:
    texto = 'João123'
    print(texto.isalnum())
Resultado:
    True
Obs: se o texto fosse 'Jo~ao' ou 'Joao#' o resultado seria False

------------------------------------------------------

Uso:
    texto = 'João'
    print(texto.isalpha())
Resultado:
    True
Obs: se o texto fosse 'João123' o resultado seria False

------------------------------------------------------

Uso:
    texto = '123'
    print(texto.isnumeric())
Resultado:
    True
Obs: existem os métodos isdigit() e isdecimal() que tem variações pontuais em caracteres especiais tipo textos com potências, mas para 99% dos casos eles não vão ser necessários.

- replace() -> Substitui um texto por outro texto em uma string.

Uso:
    texto = '1000.00'
    print(texto.replace('.', ','))
Resultado:
    '1000,00'
Obs: o replace precisa de 2 argumentos para funcionar. O 1º é o texto que você quer trocar. O 2º é o texto que você quer colocar no lugar daquele texto que você está tirando.

- split() -> Separa uma string de acordo com um delimitador em vários textos diferentes.

Uso:
    texto = 'lira@gmail.com'
    print(texto.split('@'))
Resultado:
    ['lira', 'gmail.com']

- splitlines() -> Separa um texto em vários textos de acordo com os "enters" do texto

Uso:
    texto = '''Olá, bom dia
    Venho por meio desse e-mail lhe informar o faturamento da loja n dia de hoje.
    Faturamento = R$2.500,00
    '''
    print(texto.splitlines())
Resultado:
    ['Olá, bom dia', 'Venho por meio desse e-mail lhe informar o faturamento da loja n dia de hoje.', 'Faturamento = R$2.500,00']

- startswith() -> Verifica se a string começa com determinado texto

Uso:
    texto = 'lira@gmail.com'
    print(texto.startswith('lira'))
Resultado:
    True

- strip() -> Retira caracteres indesejados dos textos. Por padrão, retira espaços "extras" no início e no final.

Uso:
    texto = '  lira@gmail.com   '
    print(texto.strip())
Resultado:
    'lira@gmail.com'

- title() -> Coloca a 1º letra de cada palavra em maiúscula

Uso:
    texto = 'joão paulo lira'
    print(texto.title())
Resultado:
    'João Paulo Lira'

- upper() -> Coloca o texto todo em letra maiúscula.

Uso:
    texto = 'joão lira'
    print(texto.upper())
Resultado:
    'JOÃO LIRA'

# ---------------------------------------------------------------------------------------------------------------

# Listas em Python

## Estrutura:

lista = [valor, valor, valor, ...]

- Foram feitas para serem homogêneas, apesar de aceitarem valores heterogêneos

In [9]:
nome = 'celular'
produtos = ['tv', nome, 'mouse', 'teclado', 'tablet']
print(produtos)
print(produtos[1])

['tv', 'celular', 'mouse', 'teclado', 'tablet']
celular

In [12]:
vendas = [1000, 1500, 350, 270, 900]
print(vendas)
print(vendas[0])

[1000, 1500, 350, 270, 900]
1000

In [15]:
vendas[3] = 300
print("Vendas do produto {} foram de {}".format(produtos[3], vendas[3]))

Vendas do produto teclado foram de 300

In [18]:
    texto = 'lira@gmail.com'
    print(texto.replace('l', 'm'))

mira@gmaim.com

# ---------------------------------------------------------------------------------------------------------------

# Estrutura de Repetição: for

In [2]:
for a in range(5):
    print('lira')

lira
lira
lira
lira
lira

In [22]:
for i in range(5):
    print(i)

0
1
2
3
4

In [28]:
produtos = ['coca', 'pepsi', 'guarana', 'sprite', 'fanta']
producao = [15000, 12000, 13000, 5000, 250]

tamanho = len(produtos)
for i in range(tamanho):
    print('{} unidades produzidas de {}'.format(producao[i], produtos[i]))

15000 unidades produzidas de coca
12000 unidades produzidas de pepsi
13000 unidades produzidas de guarana
5000 unidades produzidas de sprite
250 unidades produzidas de fanta

## For "each"

In [7]:
produtos = ['coca', 'pepsi', 'guarana', 'sprite', 'fanta']
texto = "lira@gmail.com"

for i  in range(5):
    print(produtos[i])
    
print("-----")

for item in produtos:
    print(item)
        
print("-----")

for produto in  produtos:
    print('O produto é {}'.format(produto))
    
print("-----")

for ch in texto:
    print(ch)

coca
pepsi
guarana
sprite
fanta
-----
coca
pepsi
guarana
sprite
fanta
-----
O produto é coca
O produto é pepsi
O produto é guarana
O produto é sprite
O produto é fanta
-----
l
i
r
a
@
g
m
a
i
l
.
c
o
m

## for + if

In [14]:
vendas = [1200, 300, 800, 1500, 1900, 2750, 400, 20, 23, 70, 90, 80, 1100, 999, 900, 880, 870, 50, 1111, 120, 300, 450, 800]
meta = 1000

qtd_bateu_meta = 0
qtd_funcionario = len(vendas)
for item in vendas:
    if item >= meta:
        qtd_bateu_meta += 1
        
print("O percentual de pessoas que bateram a meta foi de {:.2%}".format(qtd_bateu_meta/qtd_funcionario))

O percentual de pessoas que bateram a meta foi de 26.09%

## Estrutura while:
Funcionamento:
Usamos o while quando queremos repetir um código de forma indeterminada até uma condição se tornar verdadeira/falsa.

A lógica é: enquanto a condição for verdadeira, o while executa o código. Assim que ela terminar de ser verdadeira, o código "sai" do while.

In [15]:
venda = input('Registre um produto. Para cancelar o registro de um novo produto, basta apertar enter com a caixa vazia')
vendas_registro = []
#crie aqui o programa

while venda != '':
    vendas_registro.append(venda)
    venda = input('Registre um produto. Para cancelar o registro de um novo produto, basta apertar enter com a caixa vazia')

print('Registro Finalizado. As vendas cadastradas foram: {}'.format(vendas_registro))

Registre um produto. Para cancelar o registro de um novo produto, basta apertar enter com a caixa vaziaarroz
Registre um produto. Para cancelar o registro de um novo produto, basta apertar enter com a caixa vaziamacarrao
Registre um produto. Para cancelar o registro de um novo produto, basta apertar enter com a caixa vaziavagem
Registre um produto. Para cancelar o registro de um novo produto, basta apertar enter com a caixa vaziacenoura
Registre um produto. Para cancelar o registro de um novo produto, basta apertar enter com a caixa vazia
Registro Finalizado. As vendas cadastradas foram: ['arroz', 'macarrao', 'vagem', 'cenoura']

# Cuidado com o while -> Loop Infinito
Sempre que for usar o comando while, lembre-se de ter certeza que o programa vai terminar em algum momento

### Exemplo
Digamos que temos uma lista de vendedores e as quantidades vendidas e queremos identificar todos os vendedores que bateram a meta de 50 vendas.

In [18]:
vendas = [941, 852, 783, 714, 697, 686, 685, 670, 631, 453, 386, 371, 294, 269, 259, 218, 208, 163, 125, 102, 87, 47, 7]
vendedores = ['Maria', 'José', 'Antônio', 'João', 'Francisco', 'Ana', 'Luiz', 'Paulo', 'Carlos', 'Manoel', 'Pedro', 'Francisca', 'Marcos', 'Raimundo', 'Sebastião', 'Antônia', 'Marcelo', 'Jorge', 'Márcia', 'Geraldo', 'Adriana', 'Sandra', 'Luis']
meta = 200

i = 0

while vendas[i] > meta:
    print('{} bateu a meta. Vendas: {}'. format(vendedores[i],vendas[i]))
    i = i +1

Maria bateu a meta. Vendas: 941
José bateu a meta. Vendas: 852
Antônio bateu a meta. Vendas: 783
João bateu a meta. Vendas: 714
Francisco bateu a meta. Vendas: 697
Ana bateu a meta. Vendas: 686
Luiz bateu a meta. Vendas: 685
Paulo bateu a meta. Vendas: 670
Carlos bateu a meta. Vendas: 631
Manoel bateu a meta. Vendas: 453
Pedro bateu a meta. Vendas: 386
Francisca bateu a meta. Vendas: 371
Marcos bateu a meta. Vendas: 294
Raimundo bateu a meta. Vendas: 269
Sebastião bateu a meta. Vendas: 259
Antônia bateu a meta. Vendas: 218
Marcelo bateu a meta. Vendas: 208

# Tuplas

## Estrutura:

tupla = (valor, valor, valor, ...)

- Parece uma lista, mas é imutável.
- Mais eficiente em termos de performance
- Muito usado para dados heterogêneos

In [19]:
vendas = ('Lira', '25/08/2020', '15/02/1994', 2000, 'Estagiário')
print(vendas)

('Lira', '25/08/2020', '15/02/1994', 2000, 'Estagiário')

In [20]:
nome = vendas[0]
data_contratacao = vendas[1] 
data_nascimento = vendas[2]
salario = vendas[3]
cargo = vendas[4]

print(cargo)

Estagiário

In [21]:
name, date_contract, birthday, salary, job = vendas
print(salary)

2000

- o enumerate que vínhamos usando até agora, na verdade, cria uma tupla para a gente. Vamos ver na prática:

In [22]:
vendas = [1000, 2000, 300, 300, 150]
funcionarios = ['João', 'Lira', 'Ana', 'Maria', 'Paula']

for i, venda in enumerate(vendas):
        print('{} vendeu {} unidades'.format(funcionarios[i], venda))

João vendeu 1000 unidades
Lira vendeu 2000 unidades
Ana vendeu 300 unidades
Maria vendeu 300 unidades
Paula vendeu 150 unidades

# Dicionários em Python

### Estrutura:

dicionario = {chave: valor, chave: valor, chave: valor, chave: valor ...}

### Vantagens e Desvantagens

- Não devem ser usados para pegar itens em uma determinada ordem
- Podem ter valores heterogêneos (vários tipos de valores dentro de um mesmo dicionário: inteiros, strings, listas, etc)
- Chaves são únicas obrigatoriamente
- Mais intuitivos de trabalhar

In [24]:
mais_vendidos = {'tecnologia': 'iphone', 'refrigeracao': 'ar consul 12000 btu', 'livros': 'o alquimista', 'eletrodoméstico': 'geladeira', 'lazer': 'prancha surf'}

vendas_tecnologia = {'iphone': 15000, 'samsung galaxy': 12000, 'tv samsung': 10000, 'ps5': 14300, 'tablet': 1720, 'ipad': 1000, 'tv philco': 2500, 'notebook hp': 1000, 'notebook dell': 17000, 'notebook asus': 2450}

- Qual foi o item mais vendido nas categorias 'livros' e 'lazer'?
- Quanto foi vendido de 'notebook asus' e de 'ipad'?

In [25]:
qtd_iphone = vendas_tecnologia['ps5']
print(qtd_iphone)

14300

In [28]:
livro = mais_vendidos['livros']
lazer = mais_vendidos['lazer']

print(livro)
print(lazer)

qtde_note_asus = vendas_tecnologia['notebook asus']
qtd_ipad = vendas_tecnologia['ipad']
print(qtde_note_asus)
print(qtd_ipad)

o alquimista
prancha surf
2450
1000

# Não confie na ordem dos dicionários, use as chaves

### Python Versões Antigas x Versões Novas

- Dicionários eram "sem ordem". Atualmente tem ordem, mas o certo é usar as chaves
- 2 formas de pegar um valor:
    - dicionario[chave]
    - .get(chave)

In [37]:
print(mais_vendidos['livros'])
print('O produto mais vendido foi: {}'.format(mais_vendidos['lazer']))

print(vendas_tecnologia.get('notebook asus'))
print('Vendemos {} ipads'.format(vendas_tecnologia.get('ipad')))
print('Vendemos {} ipads'.format(vendas_tecnologia['ipad']))

o alquimista
O produto mais vendido foi: prancha surf
2450
Vendemos 1000 ipads
Vendemos 1000 ipads

### Verificar se item está no dicionário:

- if
- .get(chave) = None

Se tentarmos procurar as vendas de "copo" na lista de vendas tecnologia, o que acontece?

In [38]:
if 'copo' in vendas_tecnologia:
    print(vendas_tecnologia['copo'])
else:
    print('Copo não está dentro da lista de dicionário')

Copo não está dentro da lista de dicionário

In [39]:
if vendas_tecnologia.get('copo') == None:
    print('Copo nao está dentro da lista de dicionário')
else:
    print(vendas_tecnologia.get('copo'))

Copo nao está dentro da lista de dicionário

# Métodos Específicos de Dicionário

- clear() -> Deleta todos os elementos do Dicionário (semelhante ao que aprendemos em listas)

In [40]:
vendas_mes = {'jan': 150, 'fev': 100, 'mar': 190}
vendas_mes.clear()
print(vendas_mes)

{}

- copy() -> Cria uma cópia do dicionário (semelhante ao que aprendemos em listas)

In [41]:
vendas_mes = {'jan': 150, 'fev': 100, 'mar': 190}
vendas2_mes = vendas_mes.copy()
print(vendas2_mes)

{'jan': 150, 'fev': 100, 'mar': 190}

- fromkeys(chaves, valor_padrao) -> Cria um dicionário com as chaves e o mesmo valor padrão para todas as chaves

In [42]:
chaves = ('jan', 'fev', 'mar')
vendas = 100
vendas_mes = dict.fromkeys(chaves, vendas)
print(vendas_mes)

{'jan': 100, 'fev': 100, 'mar': 100}

- get(chave) -> 	Retorna o valor especificado pela chave (Semelhante a fazer dictionario[chave]

In [43]:
vendas_mes = {'jan': 150, 'fev': 100, 'mar': 190}
print(vendas_mes.get('mar'))

190

- items() -> Retorna uma lista em que cada item é uma tupla com (chave, valor)

In [44]:
vendas_mes = {'jan': 150, 'fev': 100, 'mar': 190}
print(list(vendas_mes.items()))

[('jan', 150), ('fev', 100), ('mar', 190)]

- keys() -> Retorna uma lista com todas as chaves do dicionário

*   Item de lista
*   Item de lista

In [46]:
vendas_mes = {'jan': 150, 'fev': 100, 'mar': 190}
print(list(vendas_mes.keys()))

['jan', 'fev', 'mar']

- pop(chave) -> Retira o item do dicionário e retorna o valor dele para ser usado

In [47]:
vendas_mes = {'jan': 150, 'fev': 100, 'mar': 190}
vendas_fev = vendas_mes.pop('fev') #retira o fevereiro do dicionário ao mesmo tempo que armazena o valor dele na variável
print(vendas_mes)
print(vendas_fev)

{'jan': 150, 'mar': 190}
100

- popitem() -> Retira o último item adicionado ao dicionário

In [48]:
vendas_mes = {'jan': 150, 'fev': 100, 'mar': 190}
#retira o último item adicionado no dicionário ao mesmo tempo que armazena o item(chave, valor) dele na variável
vendas_ult = vendas_mes.popitem() 
print(vendas_mes)
print(vendas_ult)

{'jan': 150, 'fev': 100}
('mar', 190)

- setdefault(chave, valor) -> Retorna o valor da chave passada, mas caso a chave não exista, cria no dicionário o item com a chave e valor passados.

In [49]:
vendas_mes = {'jan': 150, 'fev': 100, 'mar': 190}
vendas_fev = vendas_mes.setdefault('fev', 500)
print(vendas_fev)
#repare que como fevereiro existe na lista, ele procura pelo valor de fevereiro e ignora o 500 passado
#agora quando não existe na lista:
vendas_abr = vendas_mes.setdefault('abr', 600)
#repare que agora além de vendas_abr retornar o 600 como valor, ele adicionou um item no dicionario
print(vendas_abr)
print(vendas_mes)

100
600
{'jan': 150, 'fev': 100, 'mar': 190, 'abr': 600}

- update(dicionario) -> Adiciona o dicionário passado como parâmetro ao dicionário original

In [50]:
vendas_mes = {'jan': 150, 'fev': 100, 'mar': 190}
vendas_2tri = {'abr': 400, 'mai': 600, 'jun': 500}
vendas_mes.update(vendas_2tri)
print(vendas_mes)

{'jan': 150, 'fev': 100, 'mar': 190, 'abr': 400, 'mai': 600, 'jun': 500}

- values() -> Retorna uma lista com todos os valores do dicionários

In [51]:
vendas_mes = {'jan': 150, 'fev': 100, 'mar': 190}
print(list(vendas_mes.values()))

[150, 100, 190]

# ---------------------------------------------------------------------------------------------------------------

# Range

### Estrutura:

- range(tamanho)

ou 

- range(inicio, fim)

ou

- range(inicio, fim, passo)

In [53]:
#uso mais comum no for:
produtos = ['arroz', 'feijao', 'macarrao', 'atum', 'azeite']
estoque = [50, 100, 20, 5, 80]

for i in range(5):
    print('{}: {} unidades em estoque'.format(produtos[i],estoque[i]))

arroz: 50 unidades em estoque
feijao: 100 unidades em estoque
macarrao: 20 unidades em estoque
atum: 5 unidades em estoque
azeite: 80 unidades em estoque

In [56]:
#range com inicio e fim
print(range(1, 10))

#vamos olhar no for para entender
for i in range(5,10):
    print(i)

range(1, 10)
5
6
7
8
9

- Exemplo: Modelo Jack Welch da G&E

    1. Classe A: 10% melhor
    2. Classe B: 80% mantém/busca melhorar
    3. Classe C: 10% pior
    
Quem são os funcionários classe B?

In [62]:
funcionarios = ['Maria', 'José', 'Antônio', 'João', 'Francisco', 'Ana', 'Luiz', 'Paulo', 'Carlos', 'Manoel', 'Pedro', 'Francisca', 'Marcos', 'Raimundo', 'Sebastião', 'Antônia', 'Marcelo', 'Jorge', 'Márcia', 'Geraldo']
vendas = [2750, 1900, 1500, 1200, 1111, 1100, 999, 900, 880, 870, 800, 800, 450, 400, 300, 300, 120, 90, 80, 70]

print('Funcionários classe B')
for i in range(2,18):
    print(funcionarios[i],vendas[i])

Funcionários classe B
Antônio 1500
João 1200
Francisco 1111
Ana 1100
Luiz 999
Paulo 900
Carlos 880
Manoel 870
Pedro 800
Francisca 800
Marcos 450
Raimundo 400
Sebastião 300
Antônia 300
Marcelo 120
Jorge 90

In [64]:
#range com passo
print(range(0, 100, 10))

for i in range(0, 100, 10):
    print(i)

range(0, 100, 10)
0
10
20
30
40
50
60
70
80
90

# Function Python

### O que é?

As functions são blocos de código que servem 1 único propósito, fazem uma ação específica.

### Estrutura Básica

In [ ]:
def nome_funcao():
    faça alguma coisa
    faça outra coisa
    return valor_final

- Exemplo: vamos criar uma função de cadastro de um Produto. Essa função deve garantir que o produto cadastrado está em letra minúscula.

In [2]:
def cadastrar_produto():
    produto = input('Digite o nome do produto ')
    produto = produto.casefold()
    print('Produto {} cadastrad com sucesso'.format(produto))

In [74]:
for i in range(3):
    cadastrar_produto()

Digite o nome do produto dasdjasa daHUHu
Produto dasdjasa dahuhu cadastrad com sucesso
Digite o nome do produto UHUHUHhuhuh
Produto uhuhuhhuhuh cadastrad com sucesso
Digite o nome do produto huhsudaUHUHUA
Produto huhsudauhuhua cadastrad com sucesso

In [1]:
def cadastrar_produto():
    produto = input('Digite o nome do produto ')
    produto = produto.casefold()
    produto = produto.strip()
    return produto

In [2]:
variavel_produto = cadastrar_produto()
print(variavel_produto)

Digite o nome do produto FeiJAO
feijao

# Argumentos/Parâmetros da Função

### Estrutura:

def minha_funcao(parametro1, parametro2, parametro3):
    return parametro1 + parametro2 + parametro3

In [4]:
#Exemplo

valor = 50
print('Vendas', 'Produto', valor)

Vendas Produto 50

In [31]:
def minha_soma(num1, num2, num3):
    print('Processando')
    return num1 + num2 + num3


soma = minha_soma(10, 20, 30)

print(soma)

Processando
60

- Vamos criar uma function com parâmetro

Digamos que estamos criando um programa para categorizar os produtos de uma revendedora de bebidas.

Cada produto tem um código. O tipo de produto é dado pelas 3 primeiras letras do código.

Ex:<br>
Vinho -> BEB12302<br>
Cerveja -> BEB12043<br>
Vodka -> BEB34501<br>

Guaraná -> BSA11104<br>
Coca -> BSA54301<br>
Sprite -> BSA34012<br>
Água -> BSA09871<br>

Repare que bebidas não alcóolicas começam com BSA e bebidas alcoolicas começam com BEB.

Crie um programa que analise uma lista de produtos e envie instruções para a equipe de estoque dizendo quais produtos devem ser enviados para a área de bebidas alcóolicas.

In [12]:
def alcoolico(bebida):
    bebida = bebida.upper()
    if 'BEB' in bebida:
        return True
    else:
        return False
    
    
produtos = ['beb46275','TFA23962','TFA64715','TFA69555','TFA56743','BSA45510','TFA44968','CAR75448','CAR23596','CAR13490','BEB21365','BEB31623','BSA62419','BEB73344','TFA20079','BEB80694','BSA11769','BEB19495','TFA14792','TFA78043','BSA33484','BEB97471','BEB62362','TFA27311','TFA17715','BEB85146','BEB48898','BEB79496','CAR38417','TFA19947','TFA58799','CAR94811','BSA59251','BEB15385','BEB24213','BEB56262','BSA96915','CAR53454','BEB75073']

#percorrer toda a minha lista de produtos
#pra cada produto, verificar se ele é bebida alcólica
#se for bebida alcólica, exibir mensagem de envio

for produto in produtos:
    if alcoolico(produto):
        print('Enviar {} para setor de bebidas alcóoicas'.format(produto.upper()))

Enviar BEB46275 para setor de bebidas alcóoicas
Enviar BEB21365 para setor de bebidas alcóoicas
Enviar BEB31623 para setor de bebidas alcóoicas
Enviar BEB73344 para setor de bebidas alcóoicas
Enviar BEB80694 para setor de bebidas alcóoicas
Enviar BEB19495 para setor de bebidas alcóoicas
Enviar BEB97471 para setor de bebidas alcóoicas
Enviar BEB62362 para setor de bebidas alcóoicas
Enviar BEB85146 para setor de bebidas alcóoicas
Enviar BEB48898 para setor de bebidas alcóoicas
Enviar BEB79496 para setor de bebidas alcóoicas
Enviar BEB15385 para setor de bebidas alcóoicas
Enviar BEB24213 para setor de bebidas alcóoicas
Enviar BEB56262 para setor de bebidas alcóoicas
Enviar BEB75073 para setor de bebidas alcóoicas

# ---------------------------------------------------------------------------------------------------------------

# O que são Módulos e qual a importância deles?

### Importância

- Já tem muita coisa pronta, então você não precisa criar do zero.
- Se você souber usar Módulos e como usar um módulo novo, você vai conseguir fazer praticamente tudo no Python

### Estrutura Básica

import módulo

ou

import módulo as nome

- Exemplo: Como pode fazer o nosso código abrir um site específico na internet?

In [15]:
import webbrowser as wb

wb.open('https://hashtagtreinamentos.com')

True

### Variações

#importar o módulo sem precisar usar o nome dele <br>
from modulo import *

#importar apenas algumas partes do módulo <br>
from modulo import funcao1, funcao2, etc.

# ---------------------------------------------------------------------------------------------------------------

# Alterações "Incrementais" de Variáveis

Estrutura:

- variavel = variavel + outro_valor

ou então

- variavel += outro_valor

Exemplo: vamos adicionar às variáveis criadas o Produto IPad, 500 vendas

In [25]:
lista = ['mac', 'iphone']
vendas = [100, 200]
#adicionando IPad na lista
lista = lista + ['Ipad']
lista += ['Iglass']

vendas = vendas + [500]
vendas += [850]

print(lista)
print(vendas)

['mac', 'iphone', 'Ipad', 'Iglass']
[100, 200, 500, 850]

In [30]:
soma_vendas = 300
#adicionando na soma a quantidade de IPad

#soma_vendas = soma_vendas + 500

soma_vendas += 500


print(soma_vendas)

800

In [26]:
email = 'Esse mês vendemos um total de {} produtos, sendo:\n{} unidades de {}\n{} unidades de {}'.format(soma_vendas, vendas[0], lista[0], vendas[1], lista[1])
#adicionando no fim do texto o Ipad

email = email + "\n{} unidades de {}".format(vendas[2], lista[2])

email += "\n{} unidades de {}".format(vendas[3], lista[3])

print(email)

Esse mês vendemos um total de 800 produtos, sendo:
100 unidades de mac
200 unidades de iphone
500 unidades de Ipad
850 unidades de Iglass